<aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info'%>
    </section>
    <section class="stats">
      <%= render 'shared/stats'%>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form'%>
    </section>
    <section class="hot_post">
      <div>
        <h4>Hotest posts</h4>
          <% Micropost.last(10).each do |post|%>
            <%= link_to image_tag(post.user.icon, size: 30), post.user, class: "mini_icon" %>
            <span><%= link_to post.user.name, post.user %>: </span>
            <p><small><%= post.content.truncate(70)%></small></p>
          <% end %>
      </div>
    </section>

    <h4 class="upcoming-camps">Upcoming camps:</h4>
    <section >

      <div class="upcoming-camps">
        <hr>
          <% Camp.last(10).each do |camp|%>
            <%= link_to camp_path(camp) do %>
            <div class="camp-aside">
              <%= image_tag camp.picture, size: 30, class: "mini_icon" %>
              <%= camp.title.truncate(18)%>
            </div>
            <% end %>
          <% end %>
      </div>
    </section>
</aside>

<style>

</style>
