<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', object: f.object%>
  <div class="user_icon row text-center">
    <div class="existed_icon">
      <%= image_tag (@user.icon), size: '150x150'%>
    </div>
    <label for="file-upload" class="custom-file-upload">
      <i class="material-icons add-photos">add_a_photo</i> Change avatar
      <%= f.file_field :icon, class: "btn btn-secondary btn-md", id: "file-upload"%>
    </label>

  </div>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control"%>

  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control"%>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control"%>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control"%>

  <%= f.submit yield(:button_text), class: "btn btn-primary"%>
<% end %>
