<% provide(:title, @user.name)%>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <%= image_tag @user.icon, size: "150x150" %>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats'%>
    </section>

    <h4 class="upcoming-camps">Participated Camps:</h4>
    <% if !@participated_camps.empty? %>
    <section >
      <div class="user-camps upcoming-camps">
        <hr>
          <% @participated_camps.each do |camp|%>
            <%= link_to camp_path(camp) do %>
            <div class="camp-aside">
              <%= image_tag camp.picture, size: 30, class: "mini_icon" %>
              <%= camp.title.truncate(15)%>
            </div>
            <% end %>
          <% end %>
      </div>
    </section>
    <% else %>
    <p>No participated camps.</p>
    <% end %>
  </aside>


  <br>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>

      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
