<% if current_user %>
<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', object: f.object%>

  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost ..."%>
  </div>

  <%= f.fields_for @micropost.buckets.new do |ff| %>
    <label for="multi-file-upload" class="custom-file-upload">
      <i class="material-icons add-photos">add_a_photo</i><span>Add photos<small> ( Maximum 6 per time.)</small></span>
      <%= ff.file_field :picture, multiple: true, id: "multi-file-upload"%>
    </label>
  <% end %>

  <%= f.submit "Post", class: "btn btn-primary", id: "send-post"%>

<% end %>
<% end %>
<script>
$("#send-post").click(function(){
    var $fileUpload = $("input[type='file']");
    if (parseInt($fileUpload.get(0).files.length)>6){
     alert("You can only upload a maximum of 6 files");
    }
});
</script>
