<div class="row comments_body" id="comments_body-<%= micropost.id%>">
  <ul id="comments-<%= micropost.id%>">
      <% micropost.comments.each do |comment|%>
        <li><span><%= link_to comment.user.name, comment.user %>: </span><%= comment.message.truncate(40)%></li>
      <% end %>
  </ul>

  <%= form_for :comment, url: comments_path(micropost), method: :post, remote: true do |f|%>
    <%= f.text_area :message, class: "form-control", placeholder: "leave a comment"%>
    <%= f.submit "Submit", class: "btn btn-small btn-default"%>
  <% end %>
</div>
