<nav>
  <div class="toggle menu">
    <i class="collapse_list material-icons" aria-hidden="true">reorder</i>
  </div>
  <ul id="normal">
      <li id="logo">MiMiC-T</li>
      <li><%= link_to "Home", root_path %></li>
      <% if current_user && current_user.admin? %>
        <li><%= link_to "Users", users_path%></li>
        <% else %>
        <li><%= link_to "Explore", root_path%></li>
      <% end %>
      <li><%= link_to "Camps", camps_path %></li>
      <% if current_user %>
      <li class="dropdown dropdown-account">
        <a>Account
          <b class="caret"></b>
        </a>
          <ul class="dropdown-menu dropdown-menu-account" id="dropdown-ul">
            <li><%= link_to "My page", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          </ul>
      </li>

      <li class="dropdown informing_msg">
        <i class="material-icons inform-icon">local_post_office</i>

        <% if !unread_messages.empty?%>
          <span class="label label-danger"><%= unread_messages.count%></span>
          <ul class="dropdown-menu dropdown-menu-msg" id="dropdown-ul">
            <li><%= link_to "Mark all as read.", read_all_comments_path, method: :post %></li>
              <% unread_messages.each do |msg|%>
                <li>
                    <%= link_to micropost_path(msg.micropost) do %>
                      New comment from: <%= msg.user.name %>
                      <br>on:<%= msg.micropost.content.truncate(20)%>
                      <%= image_tag msg.micropost.buckets[0].picture, size: "20"%>
                    <% end %>
                </li>
              <% end %>
              <li><%= link_to "Check All", notifications_path%></li>
          </ul>
        <% else %>
            <ul class="dropdown-menu dropdown-menu-msg" id="dropdown-ul">
              <li>No recent notification.</li>
              <li><%= link_to "Check All", notifications_path%></li>
            </ul>
        <% end %>
      </li>

      <% else %>
        <li><%= link_to "Log in", login_path%></li>
        <li><%= link_to "Signup", signup_path%></li>
      <% end %>
  </ul>
</nav>


<script>
$(".dropdown-account").click(function(){
  $(".dropdown-menu-account").toggleClass("active")
});

$(".informing_msg").click(function(){
  $(".dropdown-menu-msg").toggleClass("active")
});

$(".dropdown-menu").mouseleave(function(){
  $(this).toggleClass("active");
})
</script>
